.toggle-button {
    -fx-background-color: rgba(255,255,255,0); 
    -fx-border-color: rgba(255,255,255,0); 
    -fx-text-fill: #ea6939; 
    -fx-font-family: Helvetica Neue; 
    -fx-font-size: 18px; 
    -fx-background-radius: 5 5 5 5
  }
  
  .toggle-button:selected {
    -fx-background-color: #ea6939; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-family: Helvetica Neue; 
    -fx-font-size: 18px; 
    -fx-background-radius: 5 5 5 5
  }

  .toggle-button:selected:hover {
    -fx-background-color: #ea6939; 
    -fx-text-fill: #FFFFFF; 
    -fx-font-family: Helvetica Neue; 
    -fx-font-size: 18px; 
    -fx-background-radius: 5 5 5 5
  }
  
  .toggle-button:hover {
    -fx-background-color: rgba(234,105,57,0.3); 
    -fx-border-color: rgba(255,255,255,0); 
    -fx-text-fill: #ea6939; 
    -fx-font-family: Helvetica Neue; 
    -fx-font-size: 18px; 
    -fx-background-radius: 5 5 5 5
  }